.section{
    margin-top:7.5rem;
}
.card{
    width:90%;
    margin:auto;
}
.cardH{
    background-color: #563d7c;
    color:rgba(255,255,255);  
    min-height: 3.5rem; 
}
.form label {
    margin-bottom: .2rem;
}
.form input {
    margin-bottom: .5rem;
}
.form button {
    margin-top: 1rem;
}
.form button:last-child {
    float:right;
}

